* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

main {
    width: 1120px;
    margin: 48px auto;
}

.know-busan > h3 {
    color: red;
    margin-bottom: 8px;
    font-size: 16px;
}

.know-busan > h1 {
    margin-bottom: 44px;
    font-size: 49px;
}

.know-busan > p{
    text-align: center;
    font-style: italic;
    margin-top: 24px;
}

.templo-haedong {
    margin-bottom: 48px;
}

.destinos-busan > .titulo {
    color: red;
    font-size: 16px;
    margin-top: 108px;
    margin-bottom: 2px;
}

.destinos-busan > h1 {
    font-size: 44px;
}

.destinos-busan > .descricao {
    margin-top: 8px;
    margin-bottom: 64px;
}

.templo-haedong > h3 {
    margin-top: 20px;
    font-size: 38px;
}

.templo-haedong p {
    margin-top: 4px;
}

.templo-haedong > li {
    color: blue;
}

.parque > h3 {
    margin-top: 20px;
    font-size: 38px;
}

.parque > p {
    margin-top: 4px;
}

.parque > .li-1{
  color: purple;
  font-weight: 600;
}

.parque > .li-2{
    color: rgb(214, 6, 86);
    font-weight: 600;
}

.parque > .li-3{
    color: rgb(189, 136, 39);
    font-weight: 600;
}